In [1]:
import pandas as pd
import numpy as np

In [2]:
#read excel files
nabil_df=pd.read_excel('data/nabil_indicators.xlsx')
nica_df=pd.read_excel('data/nica_indicators.xlsx')
prvu_df=pd.read_excel('data/prvu_indicators.xlsx')
sbl_df=pd.read_excel('data/sbl_indicators.xlsx')
agriculture_df=pd.read_excel('data/agriculture_indicators.xlsx')
everest_df=pd.read_excel('data/everest_indicators.xlsx')

#read csv files
gbime_df=pd.read_csv('data/gbime_indicators.csv')
prime_df=pd.read_csv('data/prime_indicators.csv')
sanima_df=pd.read_csv('data/sanima_indicators.csv')
kumari_df=pd.read_csv('data/kumari_indicators.csv')

In [5]:
def format_bank_df(df,selected_row,bank_symbol):
    df=df.iloc[selected_row]
    df=df.set_index('Particulars')
    df=df.T
    df.columns.name=None
    df.index.name='Fiscal Year'
    df.reset_index(inplace=True)
    df['Bank']=bank_symbol
    return df

In [7]:
ad_to_bs_fy=fy_year_dict={
    '2022/23':'2079/80',
    '2021/22':'2078/79',
    '2020/21':'2077/78',
    '2019/20':'2076/77',
    '2018/19':'2075/76'
}

### Clean Nabil bank indicators

In [3]:
nabil_df

,S.N.,Particulars,Indicators,2018/19,2019/20,2020/21,2021/22,2022/23
0,1,Net Profit / Gross Income,%,24.25,18.55,21.72,16.15,12.65
1,2,Earnings Per Share,NPR,50.57,36.16,33.57,18.64,23.67
2,3,Market Value per Share,NPR,800,765,"1,359",924,599.20
3,4,Price Earnings Ratio,Times,15.82,21.15,40.48,44.21,25.31
4,5,Dividend (including bonus) on share capital,%,35.26,38,30,NaN,11.00
5,6,Cash Dividend on Share Capital,%,22,1.76,4.40,11.50,11.00
6,7,Interest Income / Loans and Advances,%,11.41,10.98,9.37,10.28,13.89
7,8,Employee Expense / Total Operating Expense,%,17.65,15.80,24.73,14.02,12.67
8,9,Interest Expense on Total Deposit and Borrowings,%,4.96,5.39,4.35,5.77,7.84
9,10,Exchange Gain / Total Income,%,4.46,4.14,3.68,2.64,1.24
10,11,Staff Bonus / Total Employee Expenses,%,34.43,28.17,20.37,26.27,22.79
11,12,Net Profit / Loans and Advances,%,3.38,2.33,2.49,1.88,1.94
12,13,Net Profit / Total Assets,%,2.11,1.58,1.71,1.20,1.42
13,14,Total Credit / Deposit,%,81.96,79.72,89.84,92.49,84.19
14,15,Total Operating Expenses / Total Assets,%,5.49,5.80,5.22,5.33,7.93
15,16a,a. Core Capital,%,11.40,10.67,10.67,10.77,10.22
16,16b,b. Supplementary Capital,%,1.10,2.40,2.09,2.32,2.32
17,16c,c. Total Capital Fund,%,12.50,13.07,12.77,13.09,12.54
18,17,Liquidity (CRR),%,4.78,11.20,3.66,4.13,6.89
19,18,Non-Performing Loans / Total Loans,%,0.74,0.98,0.84,1.62,3.39
20,19,Base Rate,%,8.09,7.32,5.86,8.77,9.52
21,20,Weighted Average Interest Rate Spread,%,4.19,3.51,3.31,2.75,3.80
22,21,Book Net Worth per Share,NPR,257.00,256.00,251.00,232.00,210.00
23,22,Total Shares Outstanding,Number,"90,118,454","100,974,974","138,444,512","228,329,086","270,569,967"
24,23,Total Permanent Employees,Number,"1,080","1,128","1,271","2,130","2,235"
25,24,Return on Equity,%,17.76,13.41,15.19,9.78,11.66
26,25,Return on Assets,%,2.11,1.58,1.71,1.20,1.42
27,26,Dividend Payout Ratio,%,67.24,97.51,113.18,160.95,46.47
28,27,Earnings Yield,%,6.32,4.73,2.47,2.26,3.95
29,28,Dividend Yield,%,4.25,4.61,2.80,3.64,1.84
30,29,Cost to Income Ratio,%,63.20,68.13,66.17,71.92,70.51
31,30,Total Assets to Shareholders' Fund,times,8.47,9.19,8.60,7.92,8.45
32,31,Shareholders' Fund to Liability including Cont...,%,9.80,9.07,9.28,9.94,8.56
33,32,Number of Offices,Number,82,118,135,231,265
34,33,Number of ATMs,Number,136,185,185,250,298

In [4]:
# nabil_df=nabil_df.iloc[[0,1,3,4,5]].drop(columns=['S.N.','Indicators'])
# nabil_df=nabil_df.set_index('Particulars')
# nabil_df=nabil_df.T
# nabil_df.columns.name=None
# nabil_df.index.name='Fiscal Year'
# nabil_df.reset_index(inplace=True)
# nabil_df['Bank']='Nabil'

In [6]:
nabil_df.drop(columns=['S.N.','Indicators'],inplace=True)
nabil_df=format_bank_df(nabil_df,[0,1,3,4,5],'NABIL')
nabil_df

,Fiscal Year,Net Profit / Gross Income,Earnings Per Share,Price Earnings Ratio,Dividend (including bonus) on share capital,Cash Dividend on Share Capital,Bank
0,2018/19,24.25,50.57,15.82,35.26,22,NABIL
1,2019/20,18.55,36.16,21.15,38,1.76,NABIL
2,2020/21,21.72,33.57,40.48,30,4.40,NABIL
3,2021/22,16.15,18.64,44.21,NaN,11.50,NABIL
4,2022/23,12.65,23.67,25.31,11.00,11.00,NABIL

In [8]:
new_col_names={'Net Profit / Gross Income':'Net Profit/Gross Income',
             'Earnings Per Share':'Earnings Per Share',
             'Price Earnings Ratio':'Price/Earnings Ratio',
             'Bonus Dividend':'Bonus Dividend',
             'Cash Dividend on Share Capital':'Cash Dividend',
             'Dividend (including bonus) on share capital':'Total Dividend'}
nabil_df.rename(columns=new_col_names,inplace=True)
nabil_df.replace(ad_to_bs_fy,inplace=True)
nabil_df['Total Dividend']=nabil_df['Total Dividend'].fillna(30)
nabil_df['Bonus Dividend']=nabil_df['Total Dividend'].astype('float')-nabil_df['Cash Dividend'].astype('float')
# nabil_df.replace(0.00,0.00001,inplace=True) 
nabil_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Total Dividend,Cash Dividend,Bank,Bonus Dividend
0,2075/76,24.25,50.57,15.82,35.26,22,NABIL,13.26
1,2076/77,18.55,36.16,21.15,38,1.76,NABIL,36.24
2,2077/78,21.72,33.57,40.48,30,4.40,NABIL,25.60
3,2078/79,16.15,18.64,44.21,30,11.50,NABIL,18.50
4,2079/80,12.65,23.67,25.31,11.00,11.00,NABIL,0.00

### Clean global bank indicators

In [9]:
gbime_df

,S.N,Particulars,FY 2078-79 (FY 21/22),FY 2077-78 (FY 20/21),FY 2076-77 (FY 19/20),FY 2075-76 (FY 18/19),FY 2074-75 (FY 17/18)
0,1.0,Net Profit/Gross Income,18.85%,17.94%,13.39%,17.59%,14.22%
1,2.0,Net Profit/Operating Income,50.01%,40.70%,32.91%,40.69%,33.74%
2,3.0,Earnings Per Share,21.86,17.88,17.09,23.53,19.46
3,4.0,Market Value Per Share,227.1,379,219,255,265
4,5.0,Price Earnings Ratio,10.39,21.2,12.81,10.84,13.62
5,6.0,Dividend (including bonus) on Share Capital,20.95%,14.00%,16.00%,17.00%,25.00%
6,7.0,Cash Dividend on Share Capital,14.95%,4.00%,3.00%,11.00%,11.00%
7,8.0,Interest Income/ Loan and Advances,9.73%,7.99%,11.40%,11.83%,11.79%
8,9.0,Staff Expenses/ Total Operating Expenses,55.08%,53.38%,54.81%,62.56%,65.39%
9,10.0,Interest Expenses/ Total Deposit &,6.41%,5.09%,7.14%,7.14%,6.81%
10,NaN,Borrowing,NaN,NaN,NaN,NaN,NaN
11,11.0,Exchange Gain/ Total Income,1.97%,3.29%,3.01%,7.11%,6.16%
12,12.0,Staff Bonus/ Total Staff Expenses,34.95%,32.34%,26.66%,26.65%,20.42%
13,13.0,Net Profit/ Loan and Advances,2.26%,1.92%,1.86%,2.50%,1.95%
14,14.0,Net Profit/ Total Assets,1.65%,1.31%,1.33%,1.88%,1.45%
15,15.0,Total Credit/ Deposit,96.34%,94.79%,87.25%,91.70%,87.92%
16,16.0,Total Operating Expenses/ Total Assets,1.36%,1.24%,1.46%,1.84%,1.73%
17,17.0,Adequacy of Capital Fund on Risk Weighted,13.15%,14.16%,14.16%,14.30%,14.88%
18,NaN,Assets,NaN,NaN,NaN,NaN,NaN
19,18.0,Liquidity (CRR),3.96%,5.34%,11.39%,6.92%,7.30%
20,19.0,Non-performing credit/ Total Credit,1.09%,1.04%,2.28%,1.54%,3.04%
21,20.0,Base Rate,9.83%,7.44%,8.71%,9.98%,10.67%
22,21.0,Weighted Average Interest Rate Spread,3.61%,3.03%,3.81%,4.40%,4.98%
23,22.0,Book Net-worth per share,172.65,171.04,167.14,173.21,176.25
24,23.0,Total Shares,"106,239,940","96,581,764","85,468,874","80,631,014","70,728,959"
25,24.0,Total Staff,936,831,822,776,779

In [10]:
gbime_df.drop(columns=['S.N'],inplace=True)
gbime_df=format_bank_df(gbime_df,[0,2,4,5,6],bank_symbol='GBIME')
gbime_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price Earnings Ratio,Dividend (including bonus) on Share Capital,Cash Dividend on Share Capital,Bank
0,FY 2078-79 (FY 21/22),18.85%,21.86,10.39,20.95%,14.95%,GBIME
1,FY 2077-78 (FY 20/21),17.94%,17.88,21.2,14.00%,4.00%,GBIME
2,FY 2076-77 (FY 19/20),13.39%,17.09,12.81,16.00%,3.00%,GBIME
3,FY 2075-76 (FY 18/19),17.59%,23.53,10.84,17.00%,11.00%,GBIME
4,FY 2074-75 (FY 17/18),14.22%,19.46,13.62,25.00%,11.00%,GBIME

In [11]:
# Function to remove % sign
def remove_percent(x):
    return x.replace('%', '')
# Apply the function to each column using apply
gbime_df=gbime_df.map(remove_percent)

def clean_fiscal_year(fy_str):
    # Split on space and take the second part
    if pd.notna(fy_str):
        return fy_str.split(' ')[1].split(' (')[0].replace('-','/')
    return fy_str

# Apply the function to the 'fiscal year' column
gbime_df['Fiscal Year'] = gbime_df['Fiscal Year'].apply(clean_fiscal_year)
gbime_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price Earnings Ratio,Dividend (including bonus) on Share Capital,Cash Dividend on Share Capital,Bank
0,2078/79,18.85,21.86,10.39,20.95,14.95,GBIME
1,2077/78,17.94,17.88,21.2,14.00,4.00,GBIME
2,2076/77,13.39,17.09,12.81,16.00,3.00,GBIME
3,2075/76,17.59,23.53,10.84,17.00,11.00,GBIME
4,2074/75,14.22,19.46,13.62,25.00,11.00,GBIME

In [12]:
new_col_names={'Net Profit / Gross Income':'Net Profit/Gross Income',
             'Earnings Per Share':'Earnings Per Share',
             'Price Earnings Ratio':'Price/Earnings Ratio',
             'Bonus Dividend':'Bonus Dividend',
             'Cash Dividend on Share Capital':'Cash Dividend',
             'Dividend (including bonus) on Share Capital':'Total Dividend'}
gbime_df.rename(columns=new_col_names,inplace=True)
gbime_df['Bonus Dividend']=gbime_df['Total Dividend'].astype('float')-gbime_df['Cash Dividend'].astype('float')
gbime_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Total Dividend,Cash Dividend,Bank,Bonus Dividend
0,2078/79,18.85,21.86,10.39,20.95,14.95,GBIME,6.0
1,2077/78,17.94,17.88,21.2,14.00,4.00,GBIME,10.0
2,2076/77,13.39,17.09,12.81,16.00,3.00,GBIME,13.0
3,2075/76,17.59,23.53,10.84,17.00,11.00,GBIME,6.0
4,2074/75,14.22,19.46,13.62,25.00,11.00,GBIME,14.0

In [13]:
# add 2079/2080 data and remove 2074/75 
gbime_df=gbime_df.loc[0:3]
gbime_df.loc[4] = ['2079/80',23.71 ,22.06,8.43 ,9,8,'GBIME',1] 
gbime_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Total Dividend,Cash Dividend,Bank,Bonus Dividend
0,2078/79,18.85,21.86,10.39,20.95,14.95,GBIME,6.0
1,2077/78,17.94,17.88,21.2,14.00,4.00,GBIME,10.0
2,2076/77,13.39,17.09,12.81,16.00,3.00,GBIME,13.0
3,2075/76,17.59,23.53,10.84,17.00,11.00,GBIME,6.0
4,2079/80,23.71,22.06,8.43,9,8,GBIME,1.0

### Clean NIC Asia bank df

In [14]:
nica_df

,Description,2023/24,2022/23,2021/22,2020/21,Annual Growth,CAGR (5 years)
0,Total Loans,510208.00,437307.00,366280.00,287198.00,2.75,27.27
1,Total Deposits,520455.00,370654.00,300357.00,228221.00,6.44,19.65
2,Total Assets,620455.00,570480.00,450450.00,385058.00,8.75,15.77
3,Shareholders' Equity,14336.00,13963.00,20735.00,22852.00,2.70,20.26
4,Total Operating Income,4506.00,4063.00,3500.00,2900.00,10.19,22.88
5,Operating Profit,4148.00,3664.00,3160.00,2708.00,9.45,21.08
6,Net Profit,3078.00,2924.00,2564.00,2348.00,5.54,20.20
7,ROA (%),1.56,1.32,1.23,1.14,1.48,8.50
8,ROE (%),22.32,18.25,16.23,14.22,-19.05,4.70
9,Liquidity Ratio,26.64,20.70,22.23,20.68,9.48,-2.08
10,Net Profit per Employee,0.59,0.56,0.52,0.48,17.30,18.20
11,Expense per Employee,0.68,0.66,0.64,0.62,22.82,20.08
12,Loans/Deposits,54.48,59.54,62.16,58.04,-6.08,-0.82
13,Earnings per Share,45.22,36.54,32.44,28.56,4.56,19.27
14,P/E Ratio,14.20,18.50,20.68,22.34,1.92,7.60
15,Capital Adequacy Ratio,13.32,12.24,11.27,10.34,-0.28,1.56

In [15]:
nica_df.rename(columns={'Description':'Particulars'},inplace=True)
nica_df.drop(columns=['Annual Growth','CAGR (5 years)'],inplace=True)
nica_df=format_bank_df(nica_df,[4,6,13,14],bank_symbol='NICA')
nica_df

,Fiscal Year,Total Operating Income,Net Profit,Earnings per Share,P/E Ratio,Bank
0,2023/24,4506.0,3078.0,45.22,14.20,NICA
1,2022/23,4063.0,2924.0,36.54,18.50,NICA
2,2021/22,3500.0,2564.0,32.44,20.68,NICA
3,2020/21,2900.0,2348.0,28.56,22.34,NICA

In [16]:
nica_df.rename(columns={
            'Earnings per Share':'Earnings Per Share',
             'P/E Ratio':'Price/Earnings Ratio',
             },inplace=True)
nica_df.drop(columns=['Net Profit','Total Operating Income'],inplace=True)
nica_df.replace(ad_to_bs_fy,inplace=True)
nica_df

  Fiscal Year  Earnings Per Share  Price/Earnings Ratio  Bank
0     2023/24               45.22                 14.20  NICA
1     2079/80               36.54                 18.50  NICA
2     2078/79               32.44                 20.68  NICA
3     2077/78               28.56                 22.34  NICA

In [17]:
nica_df.loc[len(nica_df.index)]=['2076/77',31.89,17.34 ,'NICA']
nica_df.loc[len(nica_df.index)]=['2075/76',34.22,13.09 ,'NICA']
nica_df=nica_df.iloc[1:]
nica_df

  Fiscal Year  Earnings Per Share  Price/Earnings Ratio  Bank
1     2079/80               36.54                 18.50  NICA
2     2078/79               32.44                 20.68  NICA
3     2077/78               28.56                 22.34  NICA
4     2076/77               31.89                 17.34  NICA
5     2075/76               34.22                 13.09  NICA

In [18]:
nica_profit_by_income=[29.58,39.90,28.70,22.42,31.80]
nica_bonus=[29,0.00,0.00,19,10]
nica_cash=[1.5,0.00,0.00,1,11.5]
# Add multiple columns at once using assign with a dictionary
nica_df = nica_df.assign(**{
    'Net Profit/Gross Income': nica_profit_by_income,
    'Bonus Dividend': nica_bonus,
    'Cash Dividend': nica_cash
})
nica_df['Total Dividend']=nica_df['Bonus Dividend']+nica_df['Cash Dividend']
nica_df

,Fiscal Year,Earnings Per Share,Price/Earnings Ratio,Bank,Net Profit/Gross Income,Bonus Dividend,Cash Dividend,Total Dividend
1,2079/80,36.54,18.50,NICA,29.58,29.0,1.5,30.5
2,2078/79,32.44,20.68,NICA,39.90,0.0,0.0,0.0
3,2077/78,28.56,22.34,NICA,28.70,0.0,0.0,0.0
4,2076/77,31.89,17.34,NICA,22.42,19.0,1.0,20.0
5,2075/76,34.22,13.09,NICA,31.80,10.0,11.5,21.5

### Clean everest bank df

In [19]:
everest_df

,sn,Indicator,2018/19,2019/20,2020/21,2021/22,2022/23
0,1.0,Net Profit/Total Income %,21.13,16.25,13.54,14.29,1.399000e+01
1,2.0,Per share Earning (after tax income) Rs.,38.05,29.71,19.91,26.30,3.143000e+01
2,3.0,Market price per share Rs.,666.00,675.00,738.00,439.00,5.630000e+02
3,4.0,Price/Earning Ratio,17.50,22.72,37.06,16.69,1.791000e+01
4,5.0,Dividend on share- Bonus share %,5.00,5.00,6.00,13.00,1.000000e+01
5,6.0,Cash Dividend %,20.00,5.53,4.32,7.68,1.053000e+01
6,7.0,Interest Income/Loans & advances %,10.66,10.51,7.37,8.62,1.145000e+01
7,8.0,Employee expenses/Total operating expenses %,16.60,14.50,15.69,15.17,1.155000e+01
8,9.0,Interest expenses on deposit & borrowing %,5.53,5.93,4.62,5.79,7.390000e+00
9,10.0,Exchange Income/total Income %,2.12,1.81,3.26,1.50,2.500000e-01
10,11.0,Staff bonus/total employee expenses %,41.28,31.87,21.32,31.29,3.354000e+01
11,12.0,Net Profit/Loans & advances %,2.70,2.08,1.29,1.57,1.970000e+00
12,13.0,Net Profit/Total Assets %,1.94,1.42,0.89,1.13,1.410000e+00
13,14.0,Total Loans & advances/Total Deposits %,87.01,83.52,85.30,90.77,8.570000e+01
14,15.0,Total operating expenses/total Assets %,5.86,6.14,4.85,5.98,7.370000e+00
15,16.0,Capital Adequacy Ratio:,NaN,NaN,NaN,NaN,NaN
16,NaN,a) Core Capital %,12.38,11.92,11.24,10.78,1.117000e+01
17,NaN,b) Supplementary Capital %,1.36,1.46,1.24,1.11,2.130000e+00
18,NaN,c) Total Capital Funds %,13.74,13.38,12.48,11.89,1.330000e+01
19,17.0,Cash Reserve Ratio (CRR) %,18.56,14.43,18.15,6.50,7.110000e+00
20,18.0,NPAs/Total Loans & advances %,0.16,0.22,0.12,0.12,7.900000e-01
21,19.0,Base Rate %,8.12,8.05,5.99,8.82,9.470000e+00
22,20.0,Weighted Average Interest Rate Spread %,4.29,3.59,3.24,4.06,3.970000e+00
23,21.0,Book Networth (Rs. in Lakh) Rs.,175451.00,185974.00,206436.00,227546.00,2.537170e+05
24,NaN,Total Shares Number,80268633.00,84702068.00,88937172.00,94273402.00,1.069809e+08
25,NaN,Total Employee Number,885.00,868.00,945.00,1057.00,1.097000e+03
26,22.0,Others,NaN,NaN,NaN,NaN,NaN
27,23.0,Per Employee Business (Rs. in Lakh) Rs.,2751.00,3060.00,3129.00,3131.00,3.372000e+03
28,24.0,Employee expenses/Total Income %,11.44,10.63,12.32,11.79,8.870000e+00

In [20]:
everest_df.rename(columns={'Indicator':'Particulars'},inplace=True)
everest_df.drop(columns=['sn'],inplace=True)
everest_df=format_bank_df(everest_df,[0,1,3,4,5],bank_symbol='EBL')
everest_df

,Fiscal Year,Net Profit/Total Income %,Per share Earning (after tax income) Rs.,Price/Earning Ratio,Dividend on share- Bonus share %,Cash Dividend %,Bank
0,2018/19,21.13,38.05,17.50,5.0,20.00,EBL
1,2019/20,16.25,29.71,22.72,5.0,5.53,EBL
2,2020/21,13.54,19.91,37.06,6.0,4.32,EBL
3,2021/22,14.29,26.30,16.69,13.0,7.68,EBL
4,2022/23,13.99,31.43,17.91,10.0,10.53,EBL

In [21]:
new_col_names={'Net Profit/Total Income %': 'Net Profit/Gross Income',
 'Per share Earning (after tax income) Rs.': 'Earnings Per Share',
 'Price/Earning Ratio': 'Price/Earnings Ratio',
 'Dividend on share- Bonus share %': 'Bonus Dividend',
 'Cash Dividend %': 'Cash Dividend'
 }
everest_df.rename(columns=new_col_names,inplace=True)
everest_df.replace(ad_to_bs_fy,inplace=True)
everest_df['Total Dividend']=everest_df['Bonus Dividend'].astype(float)+everest_df['Cash Dividend'].astype(float)
everest_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Bonus Dividend,Cash Dividend,Bank,Total Dividend
0,2075/76,21.13,38.05,17.50,5.0,20.00,EBL,25.00
1,2076/77,16.25,29.71,22.72,5.0,5.53,EBL,10.53
2,2077/78,13.54,19.91,37.06,6.0,4.32,EBL,10.32
3,2078/79,14.29,26.30,16.69,13.0,7.68,EBL,20.68
4,2079/80,13.99,31.43,17.91,10.0,10.53,EBL,20.53

### Clean kumari bank indicators df

In [22]:
kumari_df

,Particulars,FY 2075/76,FY 2076/77,FY 2077/78,FY 2078/79,FY 2079/80
0,Net Profit/Gross Income,12.40%,10.08%,13.64%,12.74%,1.42%
1,Earnings Per Share - Basic EPS,Rs. 14.81,Rs. 12.08,Rs. 14.20,Rs. 17.54,Rs. 1.97
2,Earnings Per Share - Diluted EPS,Rs. 14.81,Rs. 12.08,Rs. 14.20,Rs. 17.54,Rs. 1.97
3,Market Value per Share,Rs. 220.00,Rs. 186.00,Rs. 371.00,Rs. 191.00,Rs. 165.00
4,Price Earning Ratio,14.85,15.39,26.13,10.89,83.55
5,Dividend (including bonus) on share capital,10.00%,10.85%,6.00%,0.00%,0.00%
6,Cash Dividend on share Capital,0.53%,3.15%,2.67%,12.50%,0.00%
7,Interest Income/Loans & Advances,11.96%,9.23%,8.93%,11.59%,12.15%
8,Employee Expenses/Total Operating Expense,47.26%,53.23%,52.84%,54.45%,52.72%
9,Interest Expense on Total Deposit and Borrowings,7.30%,5.64%,4.79%,6.63%,7.03%
10,Exchange Fluctuation Gain/Total Income,7.81%,8.04%,6.68%,5.33%,2.84%
11,Staff Bonus/ Total Employee Expenses,25.25%,15.59%,20.03%,20.65%,5.30%
12,Net Profit/Loans & Advances,1.62%,1.01%,1.38%,1.63%,0.18%
13,Net Profit/ Total Assets,1.17%,0.76%,1.04%,1.22%,0.14%
14,Total Credit/Deposit,90.11%,92.19%,90.99%,86.58%,86.03%
15,Total Operating Expenses/Total Assets,1.57%,1.49%,1.68%,1.67%,1.05%
16,Adequacy of Capital Fund on Risk Weightage Ass...,10.89%,12.01%,10.64%,9.83%,8.13%
17,Adequacy of Capital Fund on Risk Weightage Ass...,0.86%,3.34%,3.07%,2.80%,3.98%
18,Adequacy of Capital Fund on Risk Weightage Ass...,11.75%,15.35%,13.71%,12.63%,12.11%
19,Liquidity (CRR),4.59%,3.78%,3.72%,3.78%,4.10%
20,Non Performing Loans/Total Loans,1.01%,1.39%,0.96%,1.11%,4.96%
21,Base Rate,10.82%,10.08%,7.90%,10.08%,10.90%
22,Weighted Average Interest Rate Spread,Rs. 3.54%,Rs. 4.07%,Rs. 3.13%,Rs. 4.07%,Rs. 4.98%
23,Book Net worth (in lakh),"Rs. 117,191","Rs. 172,682","Rs. 188,922","Rs. 210,021","Rs. 353,148"
24,Total Shares,"86,855,731","125,200,495","138,784,748","147,111,833","262,258,613"
25,Total Employees,"1,043","1,781","1,881","1,845","3,296"
26,Per employee Business in lakh,Rs. 729.18,Rs. 642.97,Rs. 760.35,Rs. 858.59,Rs. 851.61
27,Employee Expense/ Total Income,7.88%,10.60%,11.67%,9.55%,5.76%

In [23]:
kumari_df=format_bank_df(kumari_df,[0,1,4,5,6],bank_symbol='KBL')
kumari_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share - Basic EPS,Price Earning Ratio,Dividend (including bonus) on share capital,Cash Dividend on share Capital,Bank
0,FY 2075/76,12.40%,Rs. 14.81,14.85,10.00%,0.53%,KBL
1,FY 2076/77,10.08%,Rs. 12.08,15.39,10.85%,3.15%,KBL
2,FY 2077/78,13.64%,Rs. 14.20,26.13,6.00%,2.67%,KBL
3,FY 2078/79,12.74%,Rs. 17.54,10.89,0.00%,12.50%,KBL
4,FY 2079/80,1.42%,Rs. 1.97,83.55,0.00%,0.00%,KBL

In [24]:
new_col_names={'Net Profit/Gross Income':'Net Profit/Gross Income',
             'Earnings Per Share - Basic EPS':'Earnings Per Share',
             'Price Earning Ratio':'Price/Earnings Ratio',
             'Cash Dividend on share Capital':'Cash Dividend',
             'Dividend (including bonus) on share capital':'Bonus Dividend'}
kumari_df.rename(columns=new_col_names,inplace=True)
kumari_df=kumari_df.map(remove_percent)
kumari_df['Fiscal Year']=kumari_df['Fiscal Year'].apply(lambda x: x.split(' ')[1])
kumari_df['Earnings Per Share']=kumari_df['Earnings Per Share'].apply(lambda x: x.split(' ')[1])
kumari_df['Total Dividend']=kumari_df['Bonus Dividend'].astype(float)+kumari_df['Cash Dividend'].astype(float)
# kumari_df.replace('0.00',0.00001,inplace=True)
# kumari_df.replace(0.00,0.00001,inplace=True)
kumari_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Bonus Dividend,Cash Dividend,Bank,Total Dividend
0,2075/76,12.40,14.81,14.85,10.00,0.53,KBL,10.53
1,2076/77,10.08,12.08,15.39,10.85,3.15,KBL,14.00
2,2077/78,13.64,14.20,26.13,6.00,2.67,KBL,8.67
3,2078/79,12.74,17.54,10.89,0.00,12.50,KBL,12.50
4,2079/80,1.42,1.97,83.55,0.00,0.00,KBL,0.00

### Cleaning Prime bank indicators df

In [25]:
prime_df

,S.N,Particulars,Unit,2079/80,2078/79,2077/78,2076/77,2075/76
0,1,Net Profit/Total Income,Percent,4.14,13.99,20.42,16.72,20.18
1,2,Earnings Per Share,NPR,5.30,14.94,20.32,16.10,23.60
2,3,Market Value Per Share,NPR,195.00,265.00,479.00,255.00,278.00
3,4,Price Earning Ratio,Ratio,36.81,17.74,23.57,15.84,11.78
4,5,Dividend in Share Capital (Including Bonus),Percent,-,4.00,16.00,15.00,16.00
5,6,Cash Dividend in Share Capital,Percent,-,4.95,0.63,-,-
6,7,Interest Income/Loan and Advances,Percent,12.64,10.79,9.17,10.05,12.16
7,8,Staff Expenses/Total Operating Expenses,Percent,61.89,60.57,57.34,52.05,55.49
8,9,Interest Expenses in Total Deposit,Percent,8.97,7.28,5.03,5.85,7.23
9,10,FX Fluctuation Gain/Total Income,Percent,0.60,1.17,2.02,2.01,2.18
10,11,Staff Bonus/Total Staff Expenses,Percent,13.76,26.28,32.71,33.20,39.39
11,12,Net Profit/Loan and Advances,Percent,0.61,1.76,2.29,1.95,2.86
12,13,Net Profit/Total Assets,Percent,0.47,1.33,1.72,1.48,2.15
13,14,Total Loan/Deposits,Percent,91.32,93.65,89.23,88.97,89.15
14,15,Total Operating Expenses/Total Assets,Percent,1.11,1.18,1.25,1.16,1.29
15,16,Capital Adequacy Ratio: A. Core Capital,Percent,10.80,11.87,12.28,12.83,11.97
16,17,Capital Adequacy Ratio: B. Supplementary Capital,Percent,1.30,1.25,2.54,1.01,0.80
17,18,Capital Adequacy Ratio: C. Total Capital Fund,Percent,12.10,13.12,14.82,13.84,12.76
18,19,Liquidity (CRR),Percent,7.29,5.51,7.18,7.25,9.83
19,20,Non-performing Loan/Total Loan (as per NRB),Percent,4.85,1.77,0.99,1.48,1.00
20,21,Weighted Average Interest Rate Spread,Percent,3.98,4.37,4.09,4.22,4.32
21,22,Book Net Worth,NPR,140.05,144.75,148.86,146.78,143.84
22,23,Total Share of PCBL,Number,"194,025,757","186,563,228","160,830,369","139,852,495","93,186,267"
23,24,Total Staff,Number,"1,639","1,600","1,548","1,469",725
24,25,Base Rate,Percent,10.57,9.99,7.21,8.62,10.03
25,26,No of Branches (including EC),Number,190.00,187.00,192.00,184.00,73.00
26,27,No of ATM,Number,131.00,108.00,107.00,106.00,46.00

In [26]:
prime_df.drop(columns=['S.N','Unit'],inplace=True)
prime_df=format_bank_df(prime_df,[0,1,3,4,5],'PCBL')
prime_df

,Fiscal Year,Net Profit/Total Income,Earnings Per Share,Price Earning Ratio,Dividend in Share Capital (Including Bonus),Cash Dividend in Share Capital,Bank
0,2079/80,4.14,5.30,36.81,-,-,PCBL
1,2078/79,13.99,14.94,17.74,4.00,4.95,PCBL
2,2077/78,20.42,20.32,23.57,16.00,0.63,PCBL
3,2076/77,16.72,16.10,15.84,15.00,-,PCBL
4,2075/76,20.18,23.60,11.78,16.00,-,PCBL

In [27]:
new_col_names={'Net Profit/Total Income': 'Net Profit/Gross Income',
 'Price Earning Ratio': 'Price/Earnings Ratio',
 'Cash Dividend in Share Capital': 'Cash Dividend',
 'Dividend in Share Capital (Including Bonus)': 'Bonus Dividend'}
prime_df.rename(columns=new_col_names,inplace=True)
prime_df.replace('-',0.00,inplace=True)
prime_df['Total Dividend']=prime_df['Cash Dividend'].astype(float)+prime_df['Bonus Dividend'].astype(float)
# prime_df.replace(0,0.00001,inplace=True)
prime_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Bonus Dividend,Cash Dividend,Bank,Total Dividend
0,2079/80,4.14,5.30,36.81,0.0,0.0,PCBL,0.00
1,2078/79,13.99,14.94,17.74,4.00,4.95,PCBL,8.95
2,2077/78,20.42,20.32,23.57,16.00,0.63,PCBL,16.63
3,2076/77,16.72,16.10,15.84,15.00,0.0,PCBL,15.00
4,2075/76,20.18,23.60,11.78,16.00,0.0,PCBL,16.00

### Clean Prabhu bank indicators df

In [28]:
prvu_df

,PARTICULARS,INDICATORS,FY 2075/26,FY 2076/77,FY 2077/78,FY 2078/79,FY 2079/80
0,1. Net Profit/Gross Income,Percent,31.77,2.011000e+01,1.170000e+01,1.006000e+01,0.87
1,2. Earnings Per Share,NPR,21.03,1.158000e+01,1.354000e+01,1.497000e+01,1.19
2,3. Market Value Per Share,NPR,266.00,2.210000e+02,4.570000e+02,2.070000e+02,160
3,4. Price Earning Ratio,Ratio,12.65,1.909000e+01,3.013000e+01,1.383000e+01,134.42
4,5. Dividend (including bonus) on Share Capital,Percent,16.84,1.053000e+01,1.263000e+01,8.000000e+00,-
5,6. Cash Dividend on Share Capital,Percent,0.84,5.300000e-01,6.300000e-01,1.500000e+00,-
6,7. Interest Income/Loans and Advances,Percent,11.60,1.104000e+01,9.050000e+00,1.171000e+01,12.77
7,8. Staff Expenses/Total Operating Expenses,Percent,56.68,6.002000e+01,6.281000e+01,6.366000e+01,60.94
8,9. Interest Expenses/Total Deposits and Borrow...,Percent,6.04,5.310000e+00,4.620000e+00,6.320000e+00,6.84
9,10. Exchange Gain/Total Income,Percent,6.54,6.620000e+00,2.580000e+00,1.840000e+00,0.86
10,11. Staff Bonus/Total Staff Expenses,Percent,13.43,9.080000e+00,1.088000e+01,1.129000e+01,4.79
11,12. Net Profit /Loan and Advances,Percent,1.92,1.120000e+00,1.210000e+00,1.310000e+00,0.12
12,13. Net Profit /Total Assets,Ratio,1.29,7.100000e-01,8.000000e-01,8.200000e-01,0.08
13,14. Total Credit/Deposits,Percent,87.94,7.826000e+01,8.395000e+01,8.138000e+01,81
14,15. Total Operating Expenses/Total Assets,Percent,2.24,2.150000e+00,1.850000e+00,1.820000e+00,1.55
15,16. Capital Adequacy (On Risk Weighted Assets),NaN,NaN,NaN,NaN,NaN,NaN
16,a.Core Capital,Percent,10.22,9.370000e+00,8.550000e+00,8.530000e+00,8.05
17,b. Supplementary Capital,Percent,0.94,1.810000e+00,4.530000e+00,4.330000e+00,3.82
18,c. Total Capital Fund,Percent,11.16,1.118000e+01,1.308000e+01,1.286000e+01,11.87
19,17. Liquidity (CRR),Percent,4.39,1.120000e+01,4.260000e+00,3.670000e+00,3.66
20,18. Gross Non-Performing Credit/Total Credit,Ratio,3.76,3.150000e+00,1.680000e+00,1.860000e+00,4.98
21,19. Weighted Average Interest Rate Spread,Percent,4.70,3.570000e+00,3.650000e+00,4.320000e+00,4.86
22,20. Book Net Worth,NPR'000,14320667.00,1.538777e+07,1.711127e+07,1.914775e+07,31352196
23,21. Number of Shares,Number,88926747.00,1.031551e+08,1.134706e+08,1.270870e+08,235424898
24,22. Number of Staff,Number,2061.00,2.331000e+03,2.424000e+03,2.423000e+03,3439
25,23. Return on Equity,Percent,12.45,7.760000e+00,1.006000e+01,9.930000e+00,0.89
26,24. Book Value Per share,NPR,161.04,1.491700e+02,1.508000e+02,1.506700e+02,133.17
27,25. CD Ratio,Ratio,76.62,6.711000e+01,7.330000e+01,7.835000e+01,80.39
28,26. Net Liquid Asset Ratio,Ratio,28.08,3.172000e+01,2.777000e+01,2.666000e+01,27.14
29,27. Base Rate,Percent,9.36,8.320000e+00,6.880000e+00,9.240000e+00,10.16

In [29]:
prvu_df.drop(columns=['INDICATORS'],inplace=True)
prvu_df.rename(columns={'PARTICULARS':'Particulars'},inplace=True)
prvu_df=format_bank_df(prvu_df,[0,1,3,4,5],'PRVU')
prvu_df

,Fiscal Year,1. Net Profit/Gross Income,2. Earnings Per Share,4. Price Earning Ratio,5. Dividend (including bonus) on Share Capital,6. Cash Dividend on Share Capital,Bank
0,FY 2075/26,31.77,21.03,12.65,16.84,0.84,PRVU
1,FY 2076/77,20.11,11.58,19.09,10.53,0.53,PRVU
2,FY 2077/78,11.7,13.54,30.13,12.63,0.63,PRVU
3,FY 2078/79,10.06,14.97,13.83,8.0,1.5,PRVU
4,FY 2079/80,0.87,1.19,134.42,-,-,PRVU

In [30]:
new_col_names={'1. Net Profit/Gross Income': 'Net Profit/Gross Income',
 "2. Earnings Per Share":"Earnings Per Share",
 '4. Price Earning Ratio': 'Price/Earnings Ratio',
 '6. Cash Dividend on Share Capital': 'Cash Dividend',
 '5. Dividend (including bonus) on Share Capital': 'Bonus Dividend'}
prvu_df.rename(columns=new_col_names,inplace=True)
prvu_df['Fiscal Year']=prvu_df['Fiscal Year'].apply(lambda x : x.split()[1])
prvu_df.replace('-',0.00,inplace=True)
prvu_df['Total Dividend']=prvu_df['Cash Dividend'].astype(float)+prvu_df['Bonus Dividend'].astype(float)
prvu_df.replace('2075/26','2075/76',inplace=True)
prvu_df

C:\Users\sunne\AppData\Local\Temp\ipykernel_7752\953766953.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  prvu_df.replace('-',0.00,inplace=True)

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Bonus Dividend,Cash Dividend,Bank,Total Dividend
0,2075/76,31.77,21.03,12.65,16.84,0.84,PRVU,17.68
1,2076/77,20.11,11.58,19.09,10.53,0.53,PRVU,11.06
2,2077/78,11.70,13.54,30.13,12.63,0.63,PRVU,13.26
3,2078/79,10.06,14.97,13.83,8.00,1.50,PRVU,9.50
4,2079/80,0.87,1.19,134.42,0.00,0.00,PRVU,0.00

### Clean Sanima bank indicators

In [31]:
sanima_df

,Particulars,Indicators,FY 2018/19,FY 2019/20,FY 2020/21,FY 2021/22,FY 2022/23
0,Percent of Net Profit/Gross Income,Percent,1.886000e+01,1.404000e+01,1.913000e+01,1.279000e+01,1.134000e+01
1,Earning Per Share,Rs.,2.892000e+01,2.892000e+01,2.218000e+01,1.848000e+01,1.488000e+01
2,Market Value Per Share,Rs.,3.480000e+02,3.300000e+02,4.850000e+02,2.760000e+02,2.605000e+02
3,Price Earning Ratio,Times,1.203000e+01,1.136000e+01,1.635000e+01,1.034000e+01,9.280000e+00
4,Dividend (Including Bonus),Percent,2.105000e+01,1.360000e+01,1.794000e+01,1.230000e+01,1.401000e+01
5,Cash Dividend,Percent,1.105000e+01,3.600000e+00,8.947000e-01,9.800000e-01,5.740000e+00
6,Interest Income/Loan & Advances,Percent,1.238000e+01,1.162000e+01,8.610000e+00,1.133000e+01,9.240000e+00
7,Staff Expenses/Total Operating Expenses,Percent,6.338000e+01,6.048000e+01,6.205000e+01,5.805000e+01,5.728000e+01
8,Interest Expenses/Total Deposit and Borrowing,Percent,6.960000e+00,6.580000e+00,4.490000e+00,6.160000e+00,8.260000e+00
9,Exchange Gain/Total Income,Percent,3.120000e+00,3.170000e+00,2.680000e+00,2.310000e+00,9.400000e-01
10,Staff Bonus/Total Staff Expenses,Percent,2.840000e+01,2.277000e+01,2.555000e+01,2.115000e+01,2.352000e+01
11,Net Profit/Loan and Advances,Percent,2.710000e+00,1.900000e+00,1.910000e+00,1.480000e+00,1.310000e+00
12,Net Profit/Total Assets,Percent,2.070000e+00,1.410000e+00,1.440000e+00,1.090000e+00,1.210000e+00
13,Total Credit/Deposit,Percent,9.042000e+01,8.510000e+01,9.410000e+01,8.918000e+01,8.819000e+01
14,Total Operating Expenses/Total Assets,Percent,1.820000e+00,1.620000e+00,1.440000e+00,1.390000e+00,1.420000e+00
15,Adequacy of Capital Fund on Risk Weighted Assets,Percent,1.319000e+01,1.300000e+01,1.375000e+01,1.366000e+01,1.442000e+01
16,a) Core Capital,Percent,1.063000e+01,1.037000e+01,9.290000e+00,9.520000e+00,1.037000e+01
17,b) Supplementary Capital,Percent,2.560000e+00,2.630000e+00,4.460000e+00,4.140000e+00,4.050000e+00
18,c) Total Capital Fund,Percent,1.319000e+01,1.300000e+01,1.375000e+01,1.366000e+01,1.442000e+01
19,Liquidity,Percent,2.287000e+01,2.401000e+01,2.215000e+01,2.707000e+01,3.001000e+01
20,Non-Performing Loan/Total Credit,Percent,8.000000e-02,4.100000e-01,4.600000e-01,3.300000e-01,1.310000e+00
21,Weighted Average Interest Rate Spread,Percent,4.350000e+00,3.470000e+00,3.730000e+00,3.860000e+00,3.860000e+00
22,Book Net-Worth,Rs.,1.198955e+10,1.281860e+10,1.492347e+10,1.691117e+10,1.937943e+10
23,Total Number of Shares,Nos.,8.001256e+07,8.801381e+07,9.681512e+07,1.132738e+08,1.246015e+08
24,Total Staff,Nos.,1.308000e+03,1.342000e+03,1.360000e+03,1.283000e+03,1.301000e+03
25,No. of Branches (including Head Office),Nos.,7.800000e+01,7.900000e+01,8.600000e+01,8.600000e+01,8.900000e+01
26,Base Rate,Percent,9.450000e+00,8.660000e+00,6.340000e+00,9.710000e+00,9.350000e+00
27,Return on Equity,Percent,2.320000e+01,1.609000e+01,1.857000e+01,1.415000e+01,1.614000e+01
28,Return on Assets,Percent,2.070000e+00,1.410000e+00,1.540000e+00,1.090000e+00,1.220000e+00
29,Total Assets to Shareholders Fund,Times,9.100000e+00,9.850000e+00,1.077000e+01,1.138000e+01,1.131000e+01

In [32]:
sanima_df.drop(columns=['Indicators'],inplace=True)
sanima_df=format_bank_df(sanima_df,[0,1,3,4,5],'SANIMA')
sanima_df

,Fiscal Year,Percent of Net Profit/Gross Income,Earning Per Share,Price Earning Ratio,Dividend (Including Bonus),Cash Dividend,Bank
0,FY 2018/19,18.86,28.92,12.03,21.05,11.0500,SANIMA
1,FY 2019/20,14.04,28.92,11.36,13.60,3.6000,SANIMA
2,FY 2020/21,19.13,22.18,16.35,17.94,0.8947,SANIMA
3,FY 2021/22,12.79,18.48,10.34,12.30,0.9800,SANIMA
4,FY 2022/23,11.34,14.88,9.28,14.01,5.7400,SANIMA

In [33]:
new_col_names={'Percent of Net Profit/Gross Income': 'Net Profit/Gross Income',
 'Earning Per Share': 'Earnings Per Share',
 'Price Earning Ratio': 'Price/Earnings Ratio',
 'Cash Dividend': 'Cash Dividend',
 'Dividend (Including Bonus)': 'Total Dividend'}
sanima_df.rename(columns=new_col_names,inplace=True)
sanima_df['Bonus Dividend']=sanima_df['Total Dividend']-sanima_df['Cash Dividend']
sanima_df['Fiscal Year']=sanima_df['Fiscal Year'].apply(lambda x : x.split(' ')[1])
sanima_df.replace(ad_to_bs_fy,inplace=True)
sanima_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Total Dividend,Cash Dividend,Bank,Bonus Dividend
0,2075/76,18.86,28.92,12.03,21.05,11.0500,SANIMA,10.0000
1,2076/77,14.04,28.92,11.36,13.60,3.6000,SANIMA,10.0000
2,2077/78,19.13,22.18,16.35,17.94,0.8947,SANIMA,17.0453
3,2078/79,12.79,18.48,10.34,12.30,0.9800,SANIMA,11.3200
4,2079/80,11.34,14.88,9.28,14.01,5.7400,SANIMA,8.2700

### Clean Siddhartha bank indicators df

In [34]:
sbl_df

,Particulars,INDICATORS,F.Y 2018-19,F.Y 2019-20,F.Y 2020-21,F.Y 2021-22,F.Y 2022-23
0,1. Net Profit/Total Income,Percent,1.549000e-01,1.248000e-01,1.577000e-01,1.253000e-01,1.059000e-01
1,2. Earning per share,NaN,NaN,NaN,NaN,NaN,NaN
2,Basic earning per share,Rs.,2.307000e+01,1.955000e+01,2.279000e+01,2.060000e+01,2.248000e+01
3,Diluted earning per share,Rs.,2.307000e+01,1.955000e+01,2.279000e+01,2.060000e+01,2.248000e+01
4,3. Market price per share,Rs.,3.180000e+02,2.960000e+02,5.040000e+02,3.030000e+02,2.530000e+02
5,4. Price/Earning Ratio,Ratio,1.379000e+01,1.514000e+01,1.935000e+01,1.307000e+01,1.126000e+01
6,5. Dividend on Bonus per share,Percent,1.000000e-01,1.200000e-01,1.425000e-01,1.250000e-01,0.000000e+00
7,6. Cash dividend,Percent,1.526000e-01,3.000000e-02,7.500000e-03,6.600000e-03,4.210000e-02
8,7. Interest Income/Loan and Advances,Percent,1.114000e-01,1.114000e-01,8.180000e-02,9.850000e-02,1.234000e-01
9,8. Employee expense/Total Operating Expenses,Percent,6.064000e-01,6.219000e-01,6.388000e-01,6.387000e-01,6.248000e-01
10,9. Interest Expenses/Total Deposit & Borrowing,Percent,7.320000e-02,7.280000e-02,5.540000e-02,6.730000e-02,8.490000e-02
11,10. Exchange Income/Total Income,Percent,3.000000e-02,2.680000e-02,2.730000e-02,2.160000e-02,9.600000e-03
12,11. Staff Bonus/ Total Employee Expenses,Percent,2.170000e-01,1.612000e-01,1.955000e-01,1.762000e-01,1.778000e-01
13,12. Net Profit/ Loan and Advances,Percent,2.060000e-02,1.650000e-02,1.700000e-02,1.540000e-02,1.630000e-02
14,13. Net Profit/ Total Assets,Percent,1.490000e-02,1.260000e-02,1.250000e-02,1.100000e-02,1.110000e-02
15,14. Total loans and advances/Total deposit,Percent,8.965000e-01,8.904000e-01,9.060000e-01,9.608000e-01,8.494000e-01
16,15. Total Operating Expenses/Total Assets,Percent,1.840000e-02,2.030000e-02,1.620000e-02,1.590000e-02,1.600000e-02
17,16. Capital Adequacy Ratio,NaN,NaN,NaN,NaN,NaN,NaN
18,a) Common Equity Tier 1 Capital,Percent,1.011000e-01,9.260000e-02,8.520000e-02,9.040000e-02,9.370000e-02
19,b) Core Capital,Percent,1.011000e-01,9.260000e-02,8.520000e-02,9.040000e-02,9.370000e-02
20,c) Supplementary Capital,Percent,2.590000e-02,3.910000e-02,4.840000e-02,3.960000e-02,3.100000e-02
21,d) Total Capital Fund,Percent,1.270000e-01,1.317000e-01,1.336000e-01,1.300000e-01,1.247000e-01
22,17. Cash Reserve Ratio (CRR),Percent,4.560000e-02,5.030000e-02,3.540000e-02,3.230000e-02,4.060000e-02
23,18. NPAs/Total loan and advances,Percent,7.500000e-03,1.380000e-02,1.000000e-02,1.070000e-02,2.010000e-02
24,19. Base Rate,Percent,1.057000e-01,9.030000e-02,7.160000e-02,9.450000e-02,9.910000e-02
25,20. Weighted Average Interest Rate Spread,Percent,3.720000e-02,4.810000e-02,3.700000e-02,4.370000e-02,3.990000e-02
26,21. Book net worth (Rs. in billion),Rs.,1.503000e+01,1.601000e+01,2.040000e+01,2.159000e+01,2.531000e+01
27,22. Total Shares,Nos.,8.887604e+07,9.787767e+07,1.096230e+08,1.252443e+08,1.408998e+08
28,23. Total employees (Permanent),Nos.,1.645000e+03,1.887000e+03,1.862000e+03,1.893000e+03,1.970000e+03
29,24. Others,NaN,NaN,NaN,NaN,NaN,NaN
30,Per employee business (Rs. in lakh),Rs.,1.413000e+03,1.462000e+03,1.896000e+03,2.035000e+03,2.147000e+03
31,Employee expense/Total Income,Percent,1.159000e-01,1.255000e-01,1.308000e-01,1.159000e-01,9.540000e-02
32,Number of branches (including extension counters),Nos.,1.590000e+02,1.860000e+02,1.890000e+02,1.900000e+02,1.960000e+02

In [35]:
sbl_df.drop(columns=['INDICATORS'],inplace=True)
sbl_df=format_bank_df(sbl_df,[0,1,5,6,7],'SBL')
sbl_df

,Fiscal Year,1. Net Profit/Total Income,2. Earning per share,4. Price/Earning Ratio,5. Dividend on Bonus per share,6. Cash dividend,Bank
0,F.Y 2018-19,0.1549,NaN,13.79,0.1000,0.1526,SBL
1,F.Y 2019-20,0.1248,NaN,15.14,0.1200,0.0300,SBL
2,F.Y 2020-21,0.1577,NaN,19.35,0.1425,0.0075,SBL
3,F.Y 2021-22,0.1253,NaN,13.07,0.1250,0.0066,SBL
4,F.Y 2022-23,0.1059,NaN,11.26,0.0000,0.0421,SBL

In [36]:
new_col_names={'1.  Net Profit/Total Income': 'Net Profit/Gross Income',
 '2. Earning per share': 'Earnings Per Share',
 '4.   Price/Earning Ratio': 'Price/Earnings Ratio',
 '6. Cash dividend': 'Cash Dividend',
 '5. Dividend on Bonus per share': 'Bonus Dividend'}

ad_to_bs_fy={'2022-23': '2079/80',
 '2021-22': '2078/79',
 '2020-21': '2077/78',
 '2019-20': '2076/77',
 '2018-19': '2075/76'}


eps_values=[23.07,19.55,23.04,23.17,22.48]
sbl_df.rename(columns=new_col_names,inplace=True)
sbl_df['Cash Dividend']=sbl_df['Cash Dividend']*100
sbl_df['Bonus Dividend']=sbl_df['Bonus Dividend']*100
sbl_df['Total Dividend']=sbl_df['Bonus Dividend']+sbl_df['Cash Dividend']
sbl_df['Fiscal Year']=sbl_df['Fiscal Year'].apply(lambda x : x.split(' ')[1])
sbl_df['Earnings Per Share']=eps_values
sbl_df.replace(ad_to_bs_fy,inplace=True)
sbl_df

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Bonus Dividend,Cash Dividend,Bank,Total Dividend
0,2075/76,0.1549,23.07,13.79,10.00,15.26,SBL,25.26
1,2076/77,0.1248,19.55,15.14,12.00,3.00,SBL,15.00
2,2077/78,0.1577,23.04,19.35,14.25,0.75,SBL,15.00
3,2078/79,0.1253,23.17,13.07,12.50,0.66,SBL,13.16
4,2079/80,0.1059,22.48,11.26,0.00,4.21,SBL,4.21

### Clean agriculture bank indicators df

In [37]:
agriculture_df

,Particulars,Indicators,2075/76,2076/77,2077/78,2078/79,2079/80
0,Net Profit to Total Revenue Ratio,Percentage,24.25,18.27,19.37,1.053000e+01,5.160000e+00
1,*Earnings per Share,Rs.,42.88,31.45,29.13,1.441000e+01,7.420000e+00
2,Market price per Share,Rs.,409.00,385.00,479,3.310000e+02,2.339000e+02
3,Price Earning Ratio,Ratio,9.54,12.24,16.44,2.298000e+01,3.154000e+01
4,Stock Dividend on Equity Share Capital,Percentage,6.00,15.00,20,2.000000e+00,NaN
5,Cash Dividend on Equity,Percentage,24.00,0.79,1.05,1.100000e+01,NaN
6,Interest Income to Loan and Advances,Percentage,13.85,11.74,9.98,1.098000e+01,1.310000e+01
7,Employee Expenses to Total Operating Expense,Percentage,24.72,21.87,33.67,2.807000e+01,1.915000e+01
8,Interest on Total Deposit and Borrowings,Percentage,6.61,6.24,4.76,5.970000e+00,7.240000e+00
9,Exchange Fluctuation Income to Total Income,Percentage,-0.04,0.03,-,0.000000e+00,6.000000e-02
10,Employee Bonus to Total Employee Expenditure,Percentage,10.29,7.65,7.99,2.570000e+00,2.320000e+00
11,Net Profit to Loan and Advances,Percentage,3.75,2.70,2.33,1.250000e+00,7.200000e-01
12,Net Profit to Total Assets,Percentage,2.77,1.86,1.59,9.000000e-01,5.000000e-01
13,Total Loan to Deposit,Percentage,93.62,85.84,92.93,1.070100e+02,9.156000e+01
14,Total Operating Expense to Total Assets,Percentage,7.82,7.71,5.86,6.680000e+00,7.930000e+00
15,Capital Adequacy of Risk Weighted Assets,NaN,NaN,NaN,NaN,NaN,NaN
16,Core Capital,Percentage,19.27,16.47,14.42,1.362000e+01,1.224000e+01
17,Supplementary Capital,Percentage,1.10,2.82,2.53,1.980000e+00,2.000000e+00
18,Total Capital Fund,Percentage,20.37,19.29,16.94,1.559000e+01,1.424000e+01
19,Liquidity Ratio,Ratio,27.20,33.98,36.21,2.596000e+01,3.010000e+01
20,Non Performing Loan to Total Loan,Percentage,3.29,2.84,1.88,2.090000e+00,2.780000e+00
21,Base Rate,Percentage,10.58,9.26,7.13,8.900000e+00,1.006000e+01
22,Spread Rate,Percentage,4.68,4.44,4.37,4.370000e+00,3.940000e+00
23,Book Networth,Rs.'000,28352733.00,28470887.00,315051177,3.335704e+08,3.379365e+08
24,Total Share (Ordinary),Number,90155290.00,95564607.00,109899298,1.318792e+08,1.345167e+08
25,Total Employee,Number,2308.00,2013.00,2402,2.336000e+03,2.391000e+03

In [38]:
agriculture_df.iloc[[0,1,3,4,5]]

,Particulars,Indicators,2075/76,2076/77,2077/78,2078/79,2079/80
0,Net Profit to Total Revenue Ratio,Percentage,24.25,18.27,19.37,10.53,5.16
1,*Earnings per Share,Rs.,42.88,31.45,29.13,14.41,7.42
3,Price Earning Ratio,Ratio,9.54,12.24,16.44,22.98,31.54
4,Stock Dividend on Equity Share Capital,Percentage,6.00,15.00,20,2.00,NaN
5,Cash Dividend on Equity,Percentage,24.00,0.79,1.05,11.00,NaN

In [39]:
agriculture_df.drop(columns=['Indicators'],inplace=True)
agriculture_df=format_bank_df(agriculture_df,[0,1,3,4,5],'ADBL')
agriculture_df

,Fiscal Year,Net Profit to Total Revenue Ratio,*Earnings per Share,Price Earning Ratio,Stock Dividend on Equity Share Capital,Cash Dividend on Equity,Bank
0,2075/76,24.25,42.88,9.54,6.0,24.0,ADBL
1,2076/77,18.27,31.45,12.24,15.0,0.79,ADBL
2,2077/78,19.37,29.13,16.44,20,1.05,ADBL
3,2078/79,10.53,14.41,22.98,2.0,11.0,ADBL
4,2079/80,5.16,7.42,31.54,NaN,NaN,ADBL

In [40]:
new_col_names={'Net Profit to Total Revenue Ratio': 'Net Profit/Gross Income',
 '*Earnings per Share': 'Earnings Per Share',
 'Price Earning Ratio': 'Price/Earnings Ratio',
 'Cash Dividend on Equity': 'Cash Dividend',
 'Stock Dividend on Equity Share Capital': 'Bonus Dividend'}

agriculture_df.rename(columns=new_col_names,inplace=True)
agriculture_df.fillna(0.00,inplace=True)
agriculture_df['Total Dividend']=agriculture_df['Bonus Dividend'].astype(float)+agriculture_df['Cash Dividend'].astype(float)
agriculture_df

C:\Users\sunne\AppData\Local\Temp\ipykernel_7752\3544288913.py:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  agriculture_df.fillna(0.00,inplace=True)

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Bonus Dividend,Cash Dividend,Bank,Total Dividend
0,2075/76,24.25,42.88,9.54,6.0,24.00,ADBL,30.00
1,2076/77,18.27,31.45,12.24,15.0,0.79,ADBL,15.79
2,2077/78,19.37,29.13,16.44,20.0,1.05,ADBL,21.05
3,2078/79,10.53,14.41,22.98,2.0,11.00,ADBL,13.00
4,2079/80,5.16,7.42,31.54,0.0,0.00,ADBL,0.00

### Merge all banks

In [41]:
allBanks_Indicators=pd.concat([everest_df,gbime_df,kumari_df,nabil_df,nica_df,
           prime_df,prvu_df,sanima_df,sbl_df,agriculture_df],ignore_index=True)
allBanks_Indicators

,Fiscal Year,Net Profit/Gross Income,Earnings Per Share,Price/Earnings Ratio,Bonus Dividend,Cash Dividend,Bank,Total Dividend
0,2075/76,21.13,38.05,17.5,5.0,20.0,EBL,25.0
1,2076/77,16.25,29.71,22.72,5.0,5.53,EBL,10.53
2,2077/78,13.54,19.91,37.06,6.0,4.32,EBL,10.32
3,2078/79,14.29,26.3,16.69,13.0,7.68,EBL,20.68
4,2079/80,13.99,31.43,17.91,10.0,10.53,EBL,20.53
5,2078/79,18.85,21.86,10.39,6.0,14.95,GBIME,20.95
6,2077/78,17.94,17.88,21.2,10.0,4.00,GBIME,14.00
7,2076/77,13.39,17.09,12.81,13.0,3.00,GBIME,16.00
8,2075/76,17.59,23.53,10.84,6.0,11.00,GBIME,17.00
9,2079/80,23.71,22.06,8.43,1.0,8,GBIME,9
10,2075/76,12.40,14.81,14.85,10.00,0.53,KBL,10.53
11,2076/77,10.08,12.08,15.39,10.85,3.15,KBL,14.0
12,2077/78,13.64,14.20,26.13,6.00,2.67,KBL,8.67
13,2078/79,12.74,17.54,10.89,0.00,12.50,KBL,12.5
14,2079/80,1.42,1.97,83.55,0.00,0.00,KBL,0.0
15,2075/76,24.25,50.57,15.82,13.26,22,NABIL,35.26
16,2076/77,18.55,36.16,21.15,36.24,1.76,NABIL,38
17,2077/78,21.72,33.57,40.48,25.6,4.40,NABIL,30
18,2078/79,16.15,18.64,44.21,18.5,11.50,NABIL,30
19,2079/80,12.65,23.67,25.31,0.0,11.00,NABIL,11.00
20,2079/80,29.58,36.54,18.5,29.0,1.5,NICA,30.5
21,2078/79,39.9,32.44,20.68,0.0,0.0,NICA,0.0
22,2077/78,28.7,28.56,22.34,0.0,0.0,NICA,0.0
23,2076/77,22.42,31.89,17.34,19.0,1.0,NICA,20.0
24,2075/76,31.8,34.22,13.09,10.0,11.5,NICA,21.5
25,2079/80,4.14,5.30,36.81,0.0,0.0,PCBL,0.0
26,2078/79,13.99,14.94,17.74,4.00,4.95,PCBL,8.95
27,2077/78,20.42,20.32,23.57,16.00,0.63,PCBL,16.63
28,2076/77,16.72,16.10,15.84,15.00,0.0,PCBL,15.0
29,2075/76,20.18,23.60,11.78,16.00,0.0,PCBL,16.0
30,2075/76,31.77,21.03,12.65,16.84,0.84,PRVU,17.68
31,2076/77,20.11,11.58,19.09,10.53,0.53,PRVU,11.06
32,2077/78,11.7,13.54,30.13,12.63,0.63,PRVU,13.26
33,2078/79,10.06,14.97,13.83,8.0,1.5,PRVU,9.5
34,2079/80,0.87,1.19,134.42,0.0,0.0,PRVU,0.0
35,2075/76,18.86,28.92,12.03,10.0,11.05,SANIMA,21.05
36,2076/77,14.04,28.92,11.36,10.0,3.6,SANIMA,13.6
37,2077/78,19.13,22.18,16.35,17.0453,0.8947,SANIMA,17.94
38,2078/79,12.79,18.48,10.34,11.32,0.98,SANIMA,12.3
39,2079/80,11.34,14.88,9.28,8.27,5.74,SANIMA,14.01
40,2075/76,0.1549,23.07,13.79,10.0,15.26,SBL,25.26
41,2076/77,0.1248,19.55,15.14,12.0,3.0,SBL,15.0
42,2077/78,0.1577,23.04,19.35,14.25,0.75,SBL,15.0
43,2078/79,0.1253,23.17,13.07,12.5,0.66,SBL,13.16
44,2079/80,0.1059,22.48,11.26,0.0,4.21,SBL,4.21
45,2075/76,24.25,42.88,9.54,6.0,24.0,ADBL,30.0
46,2076/77,18.27,31.45,12.24,15.0,0.79,ADBL,15.79
47,2077/78,19.37,29.13,16.44,20.0,1.05,ADBL,21.05
48,2078/79,10.53,14.41,22.98,2.0,11.0,ADBL,13.0
49,2079/80,5.16,7.42,31.54,0.0,0.0,ADBL,0.0

In [42]:
#some values in dividend are 0(ie No dividends) 
# replacing them by 0.00001 to make it easer for pie chart in tableau
allBanks_Indicators.replace(0,0.00001,inplace=True)

In [43]:
allBanks_Indicators['Fiscal Year'].value_counts()

Fiscal Year
2075/76    10
2076/77    10
2077/78    10
2078/79    10
2079/80    10
Name: count, dtype: int64

In [44]:
allBanks_Indicators['Bank'].value_counts()

Bank
EBL       5
GBIME     5
KBL       5
NABIL     5
NICA      5
PCBL      5
PRVU      5
SANIMA    5
SBL       5
ADBL      5
Name: count, dtype: int64

In [46]:
allBanks_Indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fiscal Year              50 non-null     object
 1   Net Profit/Gross Income  50 non-null     object
 2   Earnings Per Share       50 non-null     object
 3   Price/Earnings Ratio     50 non-null     object
 4   Bonus Dividend           50 non-null     object
 5   Cash Dividend            50 non-null     object
 6   Bank                     50 non-null     object
 7   Total Dividend           50 non-null     object
dtypes: object(8)
memory usage: 3.3+ KB

In [47]:
allBanks_Indicators.columns

Index(['Fiscal Year', 'Net Profit/Gross Income', 'Earnings Per Share',
       'Price/Earnings Ratio', 'Bonus Dividend', 'Cash Dividend', 'Bank',
       'Total Dividend'],
      dtype='object')

In [45]:
allBanks_Indicators.to_csv('data/allBank_Indicators.csv')